<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @position.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @position.long %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
