<!DOCTYPE html>
<html>
    <head>
        <title>BikeSharing</title>
        <%= favicon_link_tag 'favicon.ico' %>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <!-- Map specific css and javascript -->
        <%= stylesheet_link_tag 'mapIndex/mapIndex', media: 'all' %>
        <%= javascript_include_tag 'mapIndex/mapIndex', media: 'all' %>
    </head>

    <body> <!-- Render the partial template, keep it DRY! -->
        <%= render '/devise/menu/navbar' %>
        <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
    </body>
    <%= javascript_include_tag  'mapIndex/homepage' , media: 'all' %>
    <%= javascript_include_tag  'mapIndex/routes' , media: 'all' %>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

</html>
