<p id="notice"><%= notice %></p>

<h1>Open Times</h1>

<table>
  <thead>
    <tr>
      <th>Open</th>
      <th>Close</th>
      <th>Dow</th>
      <th>Station</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @open_times.each do |open_time| %>
      <tr>
        <td><%= open_time.open %></td>
        <td><%= open_time.close %></td>
        <td><%= open_time.dow %></td>
        <td><%= open_time.station_id %></td>
        <td><%= link_to 'Show', open_time %></td>
        <td><%= link_to 'Edit', edit_open_time_path(open_time) %></td>
        <td><%= link_to 'Destroy', open_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Open Time', new_open_time_path %>
