<p id="notice"><%= notice %></p>

<p>
  <strong>Open:</strong>
  <%= @open_time.open %>
</p>

<p>
  <strong>Close:</strong>
  <%= @open_time.close %>
</p>

<p>
  <strong>Dow:</strong>
  <%= @open_time.dow %>
</p>

<p>
  <strong>Station:</strong>
  <%= @open_time.station_id %>
</p>

<%= link_to 'Edit', edit_open_time_path(@open_time) %> |
<%= link_to 'Back', open_times_path %>
