<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button class="btn btn-md btn-default" id="leftmenu" onclick="leftmenu()" style=" position: fixed; top: 5px; left: 5px; "> <span class="glyphicon glyphicon-list"></span> </button>
            <a class="navbar-brand" href="/" style=" margin-left: 50px; ">BikeSharing SP</a>
            <button class="btn btn-md btn-default" id="rightmenu" onclick="rightmenu()" style="position: fixed;right: 5px;top: 5px;"> <span class="glyphicon glyphicon-list"></span> </button>
        </div>

        <div class="leftmenu">

          <div class="input-group">
            <span class="input-group-addon" ><span class="glyphicon glyphicon-pushpin"></span></span>
            <input type="text" class="form-control" id="origem" onfocus="choose_field('#origem')" placeholder="Endereço inicial" aria-describedby="sizing-addon2">
          </div>

          <div class="input-group">
            <span class="input-group-addon" ><span class="glyphicon glyphicon-pushpin"></span></span>
            <input type="text" id="destino" onfocus="choose_field('#destino')"  class="form-control" placeholder="Endereço destino" aria-describedby="sizing-addon2">
          </div>

          <div class="list-group">
            <% if user_signed_in? %>
              <h4>Estações Favoritas</h4>
              <% BookmarkStationController.get_list_by_user_id(current_user.id).each do |s| %>
                <%station_name = Station.find(s.station.id).name %>
                <button type="button" class="list-group-item" value="<%= station_name %>" onclick="choose(this.value)" ><%= station_name %></button>
              <% end %>
            <% else %>
              <h4>Estações</h4>
              <% Station.all.each do |s| %>
                <%station_name = s.name %>
                <button type="button" class="list-group-item" value="<%= station_name %>" onclick="choose(this.value)" ><%= station_name %></button>
              <% end %>
            <% end %>
          </div>



        </div>

        <div class="rightmenu">
          <ul class="list-group">
            <li class="list-group-item"><a href="/">Pagina inicial</a></li>
            <li class="list-group-item">Estatisticas</li>
            <li class="list-group-item">Rank das estações</li>
            <li class="list-group-item"><a id="freeSlot" href="<%= free_slots_path() %>" data-turbolinks="false">Encontrar locais livre para bike</a></li>
            <% if !user_signed_in? %>
            <li class="list-group-item"><a href="/users/sign_up">Cadastre-se</a></li>
            <li class="list-group-item"><a href="/users/sign_in">Entrar</a></li>
            <% else %>
            <li class="list-group-item"><a href="/users/sign_out">Laisser</a></li>
            <% end %>
          </ul>
        </div>

        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <% if request.env['PATH_INFO'] == "/" %>
                    <li><a href="javascript:void(0)">Home</a></li>
                <% else %>
                    <li><a href="/">Home</a></li>
                <% end %>
                <% if user_signed_in? %>
                    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                    <li><%= link_to('Edit Account', edit_user_registration_path) %></li>
                <% else %>
                    <li><%= link_to('Login', new_user_session_path) %></li>
                <% end %>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
