<%= form_with(model: station, local: true) do |form| %>
  <% if station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :station_company %>
  </div>

  <div class="field">
    <%= form.label :free_bikes %>
    <%= form.number_field :free_bikes, id: :station_free_bikes %>
  </div>

  <div class="field">
    <%= form.label :empty_slots %>
    <%= form.number_field :empty_slots, id: :station_empty_slots %>
  </div>

  <div class="field">
    <%= form.label :slots %>
    <%= form.number_field :slots, id: :station_slots %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :station_name %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :station_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :station_longitude %>
  </div>

  <div class="field">
    <%= form.label :citybik_station_uid %>
    <%= form.text_field :citybik_station_uid, id: :station_citybik_station_uid %>
  </div>

    <div class="field">
      <%= form.label :citybik_station_id %>
      <%= form.text_field :citybik_station_id, id: :station_citybik_station_id %>
    </div>
    <div class="field">
      <%= form.label :open_time %>
      <%= form.time_select :open_time, id: :open_time %>
    </div>
    <div class="field">
      <%= form.label :close_time %>
      <%= form.time_select :close_time, id: :close_time %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
