<%= form_for @station do |form| %>
  <% if station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :station_name %>
  </div>

  <div class="field">
    <%= form.label :free_slots %>
    <%= form.number_field :free_slots, id: :station_free_slots %>
  </div>

  <div class="field">
    <%= form.label :free_bikes %>
    <%= form.number_field :free_bikes, id: :station_free_bikes %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :station_company %>
  </div>

  <!-- Dealing with position -->
  <table>
  <td>
    <%= form.fields_for :position do |f| %>
          <div class="field">
            <%= f.label "lat" %>
            <%= f.number_field "lat", id: :position_lat %>
          </div>
        <div class="field">
          <%= f.label "long" %>
          <%= f.number_field "long", id: :position_long %>
        </div>
    <% end %>
  </td>
  </table>
  <!-- Dealt -->

  <!-- Dealing with position -->
  <table>
  <%= form.fields_for :open_times do |f| %>
    <% OpenTime.allowed_dow.each do |dow| %>
          <td>
          <div class="field">
          <%= f.label "open_#{dow}".to_sym %>
          <%= f.time_field "open_#{dow}".to_sym, id: "station_open_#{dow}".to_sym %>
          </div>
          <div class="field">
            <%= f.label "close_#{dow}".to_sym %>
            <%= f.time_field "close_#{dow}".to_sym, id: "station_close_#{dow}".to_sym %>
          </div>
          </td>
    <% end %>
  <% end %>
  </table>
  <!-- Dealt -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>