<%= form_with(model: station, local: true) do |formStation| %>
  <% if station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= formStation.label :name %>
    <%= formStation.text_field :name, id: :station_name %>
  </div>

  <div class="field">
    <%= formStation.label :free_slots %>
    <%= formStation.number_field :free_slots, id: :station_free_slots %>
  </div>

  <div class="field">
    <%= formStation.label :free_bikes %>
    <%= formStation.number_field :free_bikes, id: :station_free_bikes %>
  </div>

  <div class="field">
    <%= formStation.label :company %>
    <%= formStation.text_field :company, id: :station_company %>
  </div>

    <div class="field">
      <%= formStation.label :latitude %>
      <%= formStation.number_field :latitude, id: :latitude %>
    </div>

    <div class="field">
      <%= formStation.label :longitude %>
      <%= formStation.text_field :longitude, id: :longitude %>
    </div>

  <div class="actions">
    <%= formStation.submit %>
  </div>
<% end %>

