<h1>Editing Station</h1>

<%= render 'form', station: @station %>

<br>CARAIO
<%= @latitude %> ---- <%= @longitude %>
CARAIO<br>

<%= link_to 'Show', @station %> |
<%= link_to 'Back', stations_path %>
