<p id="notice"><%= notice %></p>

<div class="container free_slots">
  <h2>Estações com slots livres</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><a href="<%= free_slots1_path('name') %>">Estação</a></th>
        <th><a href="<%= free_slots_path %>">Slots livres</th>
      </tr>
    </thead>
    <tbody>
      <% @free_slot.each do |s| %>
        <tr>
          <td> <%= "#{s.name}" %> </td>
          <td> <%= "#{s.empty_slots}" %> </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
