<p id="notice"><%= notice %></p>

<h1>Stations <%= Station.count %></h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Free bikes</th>
      <th>Empty Slots</th>
      <th>Slots</th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>citybik_station_uid</th>
      <th>citybik_station_id</th>
      <th colspan="9"></th>
    </tr>
  </thead>

  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= station.company %></td>
        <td><%= station.free_bikes %></td>
        <td><%= station.empty_slots %></td>
        <td><%= station.slots %></td>
        <td><%= station.name %></td>
        <td><%= station.latitude %></td>
        <td><%= station.longitude %></td>
        <td><%= station.citybik_station_uid %></td>
        <td><%= station.citybik_station_id %></td>
        <td><%= link_to 'Show', station %></td>
        <td><%= link_to 'Edit', edit_station_path(station) %></td>
        <td><%= link_to 'Destroy', station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Station', new_station_path %>
