<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @station.company %>
</p>

<p>
  <strong>Free bikes:</strong>
  <%= @station.free_bikes %>
</p>

<p>
  <strong>Free Slots:</strong>
  <%= @station.free_slots %>
</p>

<p>
  <strong>Slots:</strong>
  <%= @station.slots %>
</p>

<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @station.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @station.longitude %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
